<!DOCTYPE html>
<html lang="en" class="no-js demo5">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an Interactive Background with jQuery Interactive BG</title>
    <meta name="description" content="Parallax comes in many forms. The most common one is a parallax effect that reacts to the user’s scroll behavior." />
    <meta name="keywords" content="parallax, parallax background, interactive bg, jquery parallax" />
    <meta name="author" content="Author for Onextrapixel" />
    <link rel="shortcut icon" href="../file/favicon.gif">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <link rel="stylesheet" type="text/css" href="css/default.css" />
    <script type="text/javascript" src="js/jquery.interactive_bg.js"></script>
    <!-- Edit Below -->
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="../file/js/modernizr.js"></script>
</head>
<body>

<div class="container bg" data-ibg-bg="bg.jpg">
    <!-- Top Navi -->
    <div class="nav-top clearfix">
        <span class="right"><a class="nav-icon icon-th" href="http://www.onextrapixel.com/category/tutorials/"><span>View all Tutorials</span></a></span>
        <span class="right"><a class="nav-icon icon-left" href="http://www.onextrapixel.com/2014/04/09/create-an-interactive-moving-backgroundobject-that-reacts-to-viewers-cursor/"><span>Back to Tutorial Article</span></a></span>
    </div>

    <div class="header">
        <h1>jQuery Interactive BG: Full Page Effect</h1>
    </div>

    <div class="menu">
        <a href="index.html">Demo 1</a>
        <a href="index2.html">Demo 2</a>
        <a href="index3.html">Demo 3</a>
        <a href="index4.html">Demo 4</a>
        <a class="active" href="index5.html">Demo 5</a>
    </div>

    <div class="main">

    </div>
    <script type="text/javascript">
        $(".bg").interactive_bg();
    </script>
</div><!-- Container -->
</body>
</html>
